Write a brief description of all the following Object Types and Data Structures.

Numbers: is a type of integer. using '' operator we can make a integer as string

Strings: string is a type of text data type 

Lists: list is a kind of data type where we can consider text as well as string. list is of two types . simple and nested list. list can be created using [] brackets

Tuples: tupkes can be created using () bracket. it consist of two  values . for eg either the player will win or loose

Dictionaries: it consist of keys and values. {} brackets are used to create dictionaries.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [ ]:
# Your answer is probably different
(60 + (10 ** 2) / 4 * 7) - 134.75

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) =  44
    
    What is the value of the expression 4 * 6 + 5 = 27
    
    What is the value of the expression 4 + 6 * 5 = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> #float will be the answer

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
a**0.5

In [ ]:
# Square:
a** wil be used to find the square root

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [4]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [20]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [22]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [21]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [24]:
# Method 1:
l=[0,0,0]
l

[0, 0, 0]

In [25]:
# Method 2:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [28]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [31]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [12]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [34]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [1]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [3]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br
we can not short because dictionary consist of keys and vaue. mapping is there of key and value so we can not short dictionary.

## Tuples

What is the major difference between tuples and lists?<br><br>
first diffrence is about the reprsentation of tuples and list and another one is list can gve you three values sometimes . for eg, a game designes by list can make user win, losse as well as draw the match. whereas tuples will make the user win or loose

How do you create a tuple?<br><br>
t=(1,2,3,4,5,'k')

## Sets

What is unique about a set?<br><br>

In [ ]:
set will give the unique value among the stored data

Use a set to find the unique values of the list below:

In [19]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [5]:
# Answer before running cell
2 > 3 #False

False

In [6]:
# Answer before running cell
3 <= 2 #False

False

In [7]:
# Answer before running cell
3 == 2.0 #false

False

In [8]:
# Answer before running cell
3.0 == 3 #true

True

In [9]:
# Answer before running cell
4**0.5 != 2 #false

False

What is the boolean output of the cell block below?

In [10]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] #False

False